.playing {
    transform: scale(1.1);
    border-color: lightgreen;
    box-shadow: 0 0 1rem #ffc600;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bold;
    color: lightgreen;
}